<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{
            height: 100vh;   
            display: flex;
            background-color: aqua;
            align-items: center;
            justify-content: center;
        }
        form{
            font-size: 30px;
            border-radius: 10px;
            border: 1px solid black;
            padding: 30px;
            font-family:'Times New Roman', Times, serif;
            background-image: linear-gradient(rgb(255, 255, 255,0.18),rgb(134, 122, 122));
        }
        input{
            font-size: 20px;
            padding: 15px;
            border-radius: 10px;
            margin-top: 15px;
        }
        button{
            font-size: 20px;
            padding: 10px;
            border-radius: 10px;

        }
        label{
            display: block;
        }
    </style>
</head>
<body>
    <% if(locals.error) {%>
        <div>
            Incorrect 
        </div>
    <% } %>
    <form method="post">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button>Download</button>
    </form>
</body>
</html>